body {
    font: 14px/1.5 Garamond, Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    background: #f4f4f4;
    box-sizing: border-box;
}

/* GLOBAL */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.dark{
    padding: 15px;
    background: #afafaf;
    color: white;
    margin: 0px 10px;
}

/* HEADER */
header {
    padding-top: 30px;
    min-height: 70px;
    border-bottom: orangered solid 3px;
}

header a {
    text-decoration-line: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}


header li {
    list-style: none;
    text-decoration: none;
}

header nav {
    margin-top: 10px;
}

header .highlight, header .current a{
    color: orangered;
    font-weight: bold; 
}

header a:hover{
    font-weight: bold;
    color: #cccccc;
}

/* HEADER AND NEWSLETTER SHARE */
.right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
}

.right ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    align-content: center;
}

.container-bar {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background: #424242;
}

/* HERO IMAGE */
.hero {
    min-height: 400px;
    background-size: cover;
}

.hero1 {
    background: url('../images/hero/riverboat_hero.jpg') center / cover no-repeat;
}

.hero2 {
    background: url('../images/hero/magnolia_hero.jpg') center / cover no-repeat;
}
.hero3 {
    background: url('../images/hero/bridge_hero.jpg') center / cover no-repeat;
}


section .hero div.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

section .hero h1 {
    font-size: 26px;
    opacity: 1.0;
}

section .hero p {
    color: white;
    font-size: 18px;
}

section .hero h1, section .hero p {
    text-shadow: 2px 1px black;
    font-weight: bolder;
}

/* NEWSLETTER BAR */

#dsd-newsletter-input {
    padding: 15px;
    background: #424242;
}

#dsd-newsletter-input form {
    align-self: center;
}

#dsd-newsletter-input button {
    background: orangered;
    color: white; 
    border: 0;
    padding: 3px 20px;
}

/* CONTENT */

#dsd-content {
    margin-top: 2em;
}

#dsd-content-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    background: white;
}

#dsd-content-wrapper div h3,p {
    color: black;
}

.boxes img {
    width: min-max(50px, 30%);
    margin-top: 1em;
}

footer {
    padding: 20px;
    height: 10vh;
    background: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p{
    color: white;
}

.copyright #copyright-year {
    color: white;
}

/* ABOUT MAIN */

#dsd-about-container{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 2em;
    
}

article#main-col {
    color: black;
}

aside#sidebar {
    padding: 20px;
}
aside#sidebar p{
    color: white;
    padding-right: 20px;
} 
   
/* SERVICES */
#dsd-services-container{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 2em;  
}


ul#services {
    list-style: none;
    padding: 20px;
    border: #afafaf solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

aside#sidebar .quote input textarea {
    width: 90%;
    padding: 5px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    header .container-bar, 
    header #branding, 
    header nav, 
    header nav ul li,
    .container-bar h1,
    .container-bar form,
    section#dsd-content div#dsd-content-wrapper .boxes,
    #dsd-content,
    #dsd-content-wrapper,
    article#main-col,
    aside#sidbar,
    #dsd-services-container,
    #services li, 
    #dsd-about-container,
    .right,
    .boxes img {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    .container-bar button, .quote button, .quote label {
        display: block;
        width: 100%;
    }

    .container-bar input[type="email"], .quote label, .quote textarea {
        margin-bottom: 5px; 
    }

    .boxes {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .boxes img{
        width: 50px;
        display: flex;
        flex-direction: column;
    }

    .boxes p {
        display: flex;
        flex-wrap: nowrap;
        padding: 1em;
        margin: 2em;
    }

}
